*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#header{
   
}
.header-scrolled{
    background: #d3cbcb;
}
.navbar{
   background-image: linear-gradient(to right,blue,violet);
}

.navbar-brand img{
    height: 46px;
    padding-left: 19px;
    background-image: linear-gradient(to right,blue,violet);
    border-radius: 10px;
}
.navbar-nav .nav-item{
    padding: 10px;
    
}
 .nav-link{
    color: white;
}
.form-inline .btn{
    border-radius: 20px;
    padding-left: 10px;
    border: 1.5px solid yellow;
    color: white;
    width: 93px;
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
}
.form-inline .btn:hover{
    background: blue;
    color: yellow;
    border: 1px solid blue;
}
.navbar-nav .nav-item a{
    font-size: 17px;
    font-weight: 600;
    color: white !important;
    text-transform: uppercase;
}
.navbar-toggler i{
    font-weight: 900;
    color: darkslateblue;
    font-size: 25px;
}
.navbar-nav .nav-item a:hover{
    color: yellow !important;
}
.navbar-nav .active a{
    color:yellow !important;
}
#slider{
    background-image: linear-gradient(to right,blue,violet);
    width: 100%;
    height: 93vh;
    padding-top: 90px;
}
#slider .container{
    padding-top:50px ;
}
#slider h1{
    margin: 18px 0 10px 0;
    font-size: 40px;
    font-weight: 600;
    line-height: 55px;
    color: #fff;
}
#slider h2{
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 22px;
}

#slider .get-started {
    font-weight: 500;
    font-size: 21px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 14px 11px 14px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 0 0 0 0;
    color: #fff;
    background: violet;
}
#slider .get-started:hover{
    color: violet;
    background-color: blue;
}
#slider .btn-watch-video {
    width: 150px;
    font-size: 21px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    margin: 0px 0 0 3px;
    color: #fff;
    line-height: 1; 
}
#slider .btn-watch-video:hover i{
    color: violet;
}
.fa-solid{
    font-size: 21px;
    color: white;
    margin-right: 8px;
}
/* CLients-section */
.clients{
    padding: 15px;
    text-align: center;
}
#clients .img-fluid{
    max-width: 52%;
    padding-top: 10px;
    filter: grayscale(1);
}
#clients .img-fluid:hover{
    filter: none;
}
.clients .client-bx{
    margin-bottom: 41px;
    margin-top: 32px;
}
/* about us section */
.section-title{
    text-align: center;
    margin-top: 20px;
}
 #section .section-title h2::before{
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
#section .section-title h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
}
.learn-more-btn{
    font-size: 21px;
    font-weight: 600;
    border: 2.5px solid #007bff;
    padding: 4px 11px 4px 11px;
    border-radius: 10px;
    letter-spacing: 2px;
    display: inline-block;
    margin-top: 15px;
    color: #007bff;
}
.learn-more-btn:hover{
    background: rgb(231 222 222);
}
.about{
    padding:  60px;
}
.about .container ul{
    list-style: none;
}
.about .container  i {
    position: relative;
    top: 3px;
    font-size: 18px;
    color: #47b2e4;
    line-height: 2;
}
.about-content{
    margin-top: 48px;
}
.why-us .accordion span{
    color: #007bff;
    font-size: 26px;
    font-weight: 600;
    padding-right: 16px;
}
.why-us  .btn{
    font-size: 20px;
    word-spacing: 2px;
    color: #007bff;
}
.why-us .content h3{
    padding-top: 41px;
    padding-bottom: 5px;
}
.why-us .why-us-img{

}
   /*skills section  */
#skill{
    padding-top: 50px;
    padding-bottom: 40px;
}
#skill .progress {
    height: 10px;
    margin-bottom: 10px;
}
#skill  .skill{
    font-size: 17px;
    font-weight: 600;
    color: #830c99;
    font-style: italic;
}
#skill .content p{
    padding-top: 12px;
    padding-bottom: 20px;
}
#skill  h3{
    font-size: 28px;
    font-weight: 700;
    padding-top: 30px;
}
/* service section */
.service{
    padding-top: 61px;
    padding-bottom: 40px;
}
.service .row .bx{
    margin-bottom: 32px;
}
.service .container h3{
    font-size: 33px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
.service .container p{
    text-align: center;
    font-size: 15px;
    margin: 35px 0px 85px 0;
}
.service-bg{
    background: rgb(231 231 231);
}
.service  .icon-box{
    background: white;
    box-shadow: 0px 0 5px 0 #686868;
    padding: 33px 21px;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
}
.service .icon-box h4{
    color: #200297;
}
.service  .icon-box i{
    color: #6fb5e7;
    font-size: 33px;
}
.service  .icon-box p{
    text-align: left;
}

/* CTA section */
.cta{
    background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url(../Images/slider/cta-bg.jpg) fixed center center;
    padding: 60px;
}
.cta h3{
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}
.cta p{
    color: #fff;
    text-align: justify;
    word-spacing: 7px;
}
.cta .cta-btn{
    color: white;
    text-decoration: none;
    padding: 8px 11px 8px 11px;
    border: 2px solid white;
    border-radius: 20px;
    letter-spacing: 2px;
    margin: 20px;
    font-size: 15px;
    font-weight: 700;
    background: cornflowerblue;
}
.cta .cta-btn:hover{
    background: #007bff;
    border: 2px solid cornflowerblue;
}

/* TEAM SECTION */
.team{
    padding-top: 60px;
    padding-bottom: 50px;
}
.member{
    padding: 22px;
    background: white;
    height: 91%;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px #96aedc;
    border: 1px solid #a985c1;
}
.team-bg{
    background: #eeeeee;
}
.team-title h3{
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    padding-bottom: 10px;
}
.team-title p{
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    color: dimgrey;
    padding-bottom: 30px;
}
.team .member-info{
    padding-left: 31px;
}
.team .member .pic{
    width: 50%;
    height: 70%;
    overflow: hidden;
}
.team .img-fluid{
    border-radius: 50%;
}
.team .member .social{
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.team .member-info h4{
    color: #42007e;
    font-size: 26px;
    word-spacing: 5px;
    font-weight: 600;
    padding-bottom: 2px;
}
.team .member-info span{
    display: block;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 5px;
}
.team .social a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    width: 31px;
    height: 31px;
    background: #d2dfd1;
    border-radius: 70px;
    margin-left: 1px;
    margin-bottom: 8px;
}

/* CONTACT SECTION */
#contact{
    background: rgb(241, 237, 237);
}
#contact .contact-box{
    padding-bottom: 35px;
}
#contact .secction-title h3{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-top: 51px;
    padding-bottom: 31px;
}
#contact .secction-title p{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 31px;
}
#contact .info{
    box-shadow: 0 0 8px 0;
    padding: 31px;
    border-bottom: 1px solid blue;
    border-top: 1px solid blue;
    width: 100%;
}
#contact .form{
    box-shadow: 0 0 8px 0;
    padding: 31px;
    border-bottom: 1px solid blue;
    border-top: 1px solid blue;
    width: 100%;
}
#contact .info .address i{
    font-size: 31px;
    color: #696bdd;
    display: flex;
    background: rgb(237 195 239);
    float: left;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 51px;
    border-radius: 50%;
}
#contact .info .address i:hover{
    font-size: 35px;
    color: #696bdd;
    display: flex;
    float: left;
    background:blue;
}
#contact .info .address h3{
    font-size: 25px;
    margin-left: 70px;
}
#contact .info .address p{
    font-size: 15px;
    margin-left: 70px;
    margin-bottom: 30px;
}
#contact .info .email i{
    font-size: 31px;
    color: #696bdd;
    display: flex;
    background: rgb(237 195 239);
    float: left;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 51px;
    border-radius: 50%;
}
#contact .info .email h3{
    font-size: 25px;
    margin-left: 70px;
}
#contact .info .email p{
    font-size: 15px;
    margin-left: 70px;
    margin-bottom: 30px;
}
#contact .info .phone i{
    font-size: 31px;
    color: #696bdd;
    display: flex;
    background: rgb(237 195 239);
    float: left;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 51px;
    border-radius: 50%;
}
#contact .info .phone h3{
    font-size: 25px;
    margin-left: 70px;
}
#contact .info .phone p{
    font-size: 15px;
    margin-left: 70px;
    margin-bottom: 30px;
}
.form h2{
    font-size: 29px;
    text-align: center;
    font-weight: bold;
}
.form .button{
    font-size: 16px;
    font-weight: 500;
    background: aquamarine;
    height: 30px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    text-align: inherit;
    margin: auto;
}
.form .button a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.form .button:hover{
    background: #007bff;
    color: white;
}





@media screen and (min-width:320px) and (max-width:992px)  {
    .form-inline .btn{
        background: violet;
        color: blue;
        border: 1px solid blue;
    }
    #slider{
        height: auto;
    }
    .cta h3{
        color: #fff;
        font-size: 28px;
        text-align: center;
        font-weight: 700;
    }
    .cta p{
        color: #fff;
        text-align: center;
    }
}
@media (max-width:992px) {
    #slider img{
        width: 65%;
    }
    #slider{
        height:auto;
    }
}
@media (max-width:792px) {
    #slider img{
        width: 80%;
    }
    #slider{
        height: auto;
    }
}
@media (max-width:572px) {
   #slider img{
        width: 80%;
    }
    #slider{
        height: auto;
    }
}